body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 5%;
}
/* First part*/
.section1{
    display: flex;
    margin: 5%;
    width: 50%;
}
.section1 img{
    width: 85%;
    padding-left: 250px;
}
h1{
    font-size: 30px;
    font-weight: 800;
}
#leftline{
    border-left: 5px solid;
    border-image: linear-gradient( #5753f4, #6a27ec);
    border-image-slice: 1;
    padding-left: 10px;
     /*unable to adjust the height of line with text*/
}
#topHeading{
    color: red;
}
.normal-text{
    text-align: justify;
    margin-bottom: 50px;
}
.button1{
    text-decoration: none;
    padding: 10px 35px;
    background-color: orange;
    border-radius: 5px;
}
/* Second part*/
.section2{
    display: flex;
    margin: 5%;
    
}
#middleheadingalign{
    text-align: center;
    border-left: 10px solid red;
    border-right: 10px solid red;
}
.threebox img{
    width: 50%;
}
.threebox {
    padding: 2%;
    width: 33.33%;
    margin-right: 20px;
    border-radius: 20px;
}
#box_1_color{
    background-color: red;
}
#box_2_color{
    background-color: rgb(0, 255, 0);
}
#box_3_color{
    background-color: rgb(60, 0, 255);
}
/*third part*/
.section3{
    display: flex;
    margin: 5%;
    width: 100%;
    padding-top: 100px;
}
.section3 img{
    width: 80%;
}
#midgap{
    padding-right: 100px;
    padding-top: 100px;
}
#finalmidgap{
    padding-right: 100px;
    padding-top: 50px;
}
#footerstyle{
    background-color: black;
    text-align: center;
    color: white;
    padding: 75px;
    font-size: 1em;
    margin-left: 0;
}