body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 5%;
}
/* First part*/
.section1{
    display: flex;
    margin: 5%;
    width: 50%;
}
.section1 img{
    margin-top: 0;
    width: 145%;
    padding-left: 250px;
}
h1{
    font-size: 30px;
    font-weight: 800;
}
#leftline{
    border-left: 5px solid;
    border-image: linear-gradient( #5753f4, #6a27ec);
    border-image-slice: 1;
    padding-left: 10px;
     /*unable to adjust the height of line with text*/
}
#topHeading{
    color: #5753f4;
}
.normal-text{
    text-align: justify;
    margin-bottom: 50px;
}
.button1{
    text-decoration: none;
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-image: linear-gradient( #5753f4, #6a27ec) ;
    border-radius: 5px;
}
/* Second part*/
.section2{
    display: flex;
    margin: 5%;
    
}
#middleheadingalign{
    text-align: center;
    border-left: 10px solid ;
    border-right:10px solid;
    border-image: linear-gradient( #5753f4, #6a27ec);
    border-image-slice: 1;
}
.threebox img{
    width: 50%;
}
.threebox {
    padding: 2%;
    width: 33.33%;
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    
}
.justifyText{
    text-align: justify;
}
h3 {
    color: #5753f4;
}
#box_1_color{
    background-color: #ef9a9a32;
    box-shadow: 10px 10px 40px rgb(134, 133, 133);
}
#box_2_color{
    background-color: #80deea3b;
    box-shadow: 10px 10px 40px rgb(134, 133, 133);
}
#box_3_color{
    background-color: #e6ee9c3d;
    box-shadow: 10px 10px 40px rgb(134, 133, 133);
}
/*third part*/
.section3{
    display: flex;
    margin: 5%;
    width: 100%;
    padding-top: 100px;
}
.section3 img{
    width: 80%;
}
#midgap{
    padding-right: 100px;
    padding-top: 50px;
}
.buttongap{
    margin-bottom: 30px;
}
#finalmidgap{
    padding-right: 100px;
    padding-top: 50px;
}
#footerstyle{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 1.1em;
    margin-left: 0;
}
#footcolor{
    color: #6a68f0;
}